.main {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 80px;
  display: flex;
  align-items: center;
  text-align: center;

  color: aliceblue;

  /* color: #d5a353; */
}
