@import url('../../assets/fonts/fonts.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    scroll-snap-type: y mandatory;
    overflow-x: scroll;

}

.style_Background-Home{
    background-image: url('../../assets/img/BackGrounds/barber_background2.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 85%;
    position: absolute;
}


.style_Background-Home{
    justify-content: space-between;
    align-items: start;
    padding-top: 1rem;
    padding-right: 2rem;
}

.style_title-home{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    padding-top: 13rem;
}

.style_h1-home{
    font-family: 'Jacques Francois Shadow', cursive;
    font-size: 90px;
    color: #D5A353;
    font-weight: 400;
    line-height: 127px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.style_p-home{
    display: flex;
    flex-direction: column;
    font-family: 'IM Fell English SC', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 55px;
    color: white;
    z-index: 1;
}


.style_hr{
    border-color: #6F6F6F;
    width: 100%;
    margin-top: 5rem;
    z-index: 1;
}
hr{
    border-color: #6F6F6F;
}

.style_footer-home{
    width: 100%;
    justify-content: space-around;
    z-index: 1;
}

.style_footer-home h2{
    font-family: 'Ibarra Real Nova', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    /* or 80% */
    text-align: center;
    color: #D5A353;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.style_footer-home p{
    font-family: 'Kreon', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 133% */
    text-align: center;
    color: #FFFFFF;

}

/* .style_footer-home hr{

    width: 254.01px;
    height: 0px;
    border: 1px solid #6F6F6F;
    transform: rotate(90deg);
} */

.style_footer_c1{
    width: 100%;
    border-right:1px solid #6F6F6F;
    height: 100%
}
.style_footer_c2{
    width: 100%;
    border-right:1px solid #6F6F6F;
    height: 100%
}

.style_footer_c3{
    width: 100%;
}