*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.style_Background-Home{
    background-image: url('../../assets/img/BackGrounds/barber_background2.jpg');
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 85%;
}


.style_Background-Home{
    justify-content: space-between;
    align-items: start;
    padding-top: 1rem;
    padding-right: 2rem;
}




