.admin {
  background-image: url("../../assets/img/backgrounds/barber_background2.jpg");
}

.employee {
  background-image: url("../../assets/img/backgrounds/barber_background.jpg");
}

.customer {
  background-image: url("../../assets/img/backgrounds/barber_background5.jpg");
}

.background {
  width: 100%;
  height: 150vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
