.text-head {
  font-family: "Ibarra Real Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
