.btn-appointment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 12px;
  position: relative;
  background: #d5a353;
  box-shadow: 0px 4px 12px rgba(213, 163, 83, 0.2);
  border-radius: 6px;
  color: white;
}
