* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.style_Background-Home {
  background-image: url("../../../assets/img/backgrounds/barber_background2.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 85%;
}
